<div class="container" *ngIf="isLoginPage">
  <div class="left">
    <h1>Codesa College</h1>
  </div>

  <div class="right">
    <button (click)="goToHome()">Ingresar</button>
  </div>
</div>

<div class="container2" *ngIf="!isLoginPage">
  <div class="right">
    <div class="list">
    <h2>Menu</h2>
    <button (click)="goToHome()" class="w100">Principal</button>
    <button (click)="goToPersonas()" class="w100">Personas</button>
    <button (click)="goToEstudiantes()" class="w100">Estudiantes</button>
    <button (click)="goToAdministrativos()" class="w100">Administrativos</button>
    <button (click)="goToProfesores()" class="w100">Profesores</button>
    <button (click)="goToCursos()" class="w100">Cursos</button>
    <button (click)="goToInscripciones()" class="w100">Inscripciones</button>
    </div>
  </div>

  <div class="left">
    <router-outlet></router-outlet>
  </div>
</div>